<html>
    #parse("/WEB-INF/layout/header.vm")
    <body>
        <div>
            <!-- View abc.vm is inserted here -->
            ${screen_content}
        </div>
        #parse("/WEB-INF/layout/footer.vm")
    </body>
</html>